@media(max-width:1200px){
.contact_box{
    flex-direction: column;
    align-items: center;
}
.container{
    padding: 0 20px;
}
}
@media(max-width:768px){
.header_menu{
display: none;
}
.burger_menu{
    display: flex;
    justify-content: space-between;
}
.burger_box{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.header_list{
    flex-direction: column;
    text-align: center;
}
.burger_btn{
    display: flex;
    width: 50px;
    height: 40px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: 1px solid orange;
}
.burger_btn>span{
    display: block;
    width: 100%;
    height: 4px;
    background-color: orange;
}
.active_burger{
    height: 100vh;
    overflow: visible;
    transition: 0.5s;
}
.close_btn{
    width: 50px;
    height: 40px;
    display: block;
    background: transparent;
    color: black;
    font-size: 32px;
    border: none;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
}
.promo_box{
    flex-direction: column;
    align-items: center;
}
.about_box{
    flex-direction: column;
    align-items: center;
}
.eat_box{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.menu_box_item>img{
    display: block;
    width: 100%;
}
.menu_box_item{
    width: calc(50% - 30px);
}
.have_to_eat_item{
    width: calc(50% - 128px);
}
.blog_box{
    flex-direction: column;
    align-items: center;
}
.blog_title_1{
    text-align: center;
}
.map_box{
    flex-direction: column;
    align-items: center;
}
.map_box_left{
    width: 100%;
}
.map_box_right>img{
    display: block;
    width: 100%;
}
.promo_right>img{
    width: 100%;
    display: block;
}
}
@media(max-width:425px){
    .about_right_2{
        display: none;
    }
    .menu_box_item{
    width: 100%;
}
.have_to_eat_item{
    width: 100%;
}
.footer_bottom{
    flex-direction: column;
    align-items: center;
}
.footer_social{
    width: 100%;
    transform: translate(0);
}
.blog_item>img{
    display: block;
    width: 100%;
}
.menu_list_btn{
    flex-direction: column;
    align-items: center;
}
.contact_img_2{
    display: none;
}
.input_name{
    margin-right: 0;
}
.input_name{
    display: block;
    width: 100%;
}
.input_email{
    display: block;
    width: 100%;
}
.input_message{
    display: block;
    width: 100%;
}
}