.container{
    max-width: 1278px;
    margin: 0 auto;
}
body{
    background: #19161b; 
}
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
}
.header_list{
    display: flex;
    gap: 40px;
}
.menu_link{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-transform: capitalize;
color: #fff;
}
.promo{
    padding-top: 96px;
}
.promo_box{
    display: flex;
    justify-content: space-between;
}
.promo_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 56px;
line-height: 121%;
color: #fff;
margin-bottom: 16px;
}
.promo_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
margin-bottom: 32px;
}
.promo_btn{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #2e2d33;
width: 164px;
height: 48px;
background: #ffb577;
margin-bottom: 40px;
}
.promo_info_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
}
.promo_info_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #fff;
opacity: 0.6;
margin-bottom: 16px;
}
.about{
    margin-top: 160px;
}
.about_box{
    display: flex;
    justify-content: space-between;
}
.about_title{
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #ffb577;
}
.about_some_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 48px;
line-height: 121%;
color: #fff;
margin-top: 24px;
margin-bottom: 32px;
}
.about_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
margin-top: 32px;
}
.about_inner_title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #c4e4ea;
}
.about_left_inner{
    display: flex;
    gap: 32px;
    margin-top: 40px;
    margin-bottom: 32px;
}
.about_left{
    max-width: 624px;
}
.about_inner_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
margin-bottom: 15px;
}
.about_inner_subtext{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
}
.about_right{
    display: flex;
    gap: 67px;
}
.about_right_1{
    display: block;
    width: 240px;
height: 500px;
margin-top: 83px;
}
.about_right_2{
    display: block;
    width: 240px;
height: 500px;
}
.eat{
    margin-top: 160px;
}
.eat_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discover_left_text{
    font-family: var(--second-family);
font-weight: 700;
font-size: 14px;
line-height: 150%;
color: #c4e4ea;
}
.menu_box{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.menu_box_item{
    width: calc(33.33% - 32px);
}
.menu_box_content_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
opacity: 0.87;

}
.menu_box_content_price{
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 160%;
color: #fff;
opacity: 0.87;
}
.menu_box_content{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 32px;
    padding-right: 32px;
}
.menu{
    margin-top: 83px;
}
.menu_btn{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #2e2d33;
width: 164px;
height: 48px;
background: #ffb577;
margin-bottom: 40px;
display: block;
margin: 0 auto;
margin-top: 40px;
}
.have_to_eat_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
color: #fff;
padding-top: 24px;
padding-bottom: 12px;
}
.have_to_eat_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
}
.have_to_eat_box{
    display: flex;
    flex-wrap: wrap;
    gap: 128px;
}
.have_to_eat_item{
    width: calc(33.33% - 128px);
}
.have_to_eat{
    margin-top: 64px;
}
.blog_sub_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #b8b8b8;
}
.blog_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
padding-bottom: 32px;
}
.blog_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
color: #fff;
opacity: 0.87;
max-width: 320px;
padding-top: 8px;
padding-bottom: 16px;
}
.blog_box{
    display: flex;
}
.blog_title_1{
    font-family: var(--second-family);
font-weight: 700;
font-size: 48px;
line-height: 121%;
color: #fff;
padding-bottom: 64px;
margin-top: 160px;
}
.map_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
}
.map_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
}
.map_box{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}
.map_box_left{
    background-color: #1F1D21;
    width: 441px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.footer{
    padding-top: 160px;
    padding-bottom: 24px;
}
.footer_top{
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}
.footer_middle{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
}
.footer_social{
    display: flex;
    justify-content: center;
    gap: 24px;
    transform: translateX(-50%);
}
.footer_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-transform: capitalize;
color: #b8b8b8;
}
.footer_text_1{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #fff;
}
.menu_subtext{
    max-width: 499px;
}
.discover_menu{
    margin-top: 96px;
    margin-bottom: 144px;
}
.menu_list_item{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
opacity: 0.6;
}
.menu_list_item_1{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
opacity: 1;

}
.menu_list_btn{
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
}
.best_cafe_box{
    background-image: url("../images/Group\ 2111.png");
    padding-top: 124px;
    padding-bottom: 124px;
    padding-left: 80px;
}
.best_cafe{
    margin-top: 160px;
}
.best_cafe_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 48px;
line-height: 121%;
color: #fff;
max-width: 400px;
}
.title_yellow{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 121%;
    color: #ffc492;
}
.best_cafe_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
max-width: 431px;
margin-top: 24px;
}
.history_sub_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
color: #fff;
margin-top: 80px;
margin-bottom: 104px;
}
.history_title{
    font-family: var(--font-family);
font-weight: 600;
font-size: 32px;
line-height: 137%;
color: #fff;
margin-bottom: 16px;
}
.history_title_1{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
margin-bottom: 16px;
}
.history_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
max-width: 200px;
}
.history_box{
    display: flex;
    justify-content: space-between;
}
.company_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 48px;
line-height: 121%;
color: #fff;
opacity: 0.87;
}
.company_title_1{
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
color: #fff;
opacity: 0.87;
max-width: 550px;
}
.company_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
max-width: 503px;
}
.company{
    margin-top: 157px;
}
.company_box{
    display: flex;
    justify-content: space-between;
}
.story_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 56px;
line-height: 121%;
color: #fff;
margin-bottom: 24px;
}
.story_title_1{
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
color: #fff;
}
.orange_title{
    color: #ffb577;
}
.story_text_1{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
margin-bottom: 32px;
}
.story_box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 113px;
    margin-top: 96px;
}
.story_left_photo{
    display: flex;
    gap: 64px;
    align-items: flex-start;
}
.story_photo_left{
    display: block;
    margin-top: 72px;
}
.blogs{
    margin-top: 96px;
}
.blogs_title{
    font-family: var(--second-family);
font-weight: 600;
font-size: 48px;
line-height: 133%;
text-align: center;
color: #fff;
margin-bottom: 64px;
}
.blogs_box{
    display: flex;
    gap: 58px;
}
.blogs_left_title_2{
    font-family: var(--second-family);
font-weight: 600;
font-size: 48px;
line-height: 133%;
color: #fff;
margin: 0 auto;
margin-top: 184px;
margin-bottom: 40px;
max-width: 451px;
}
.blogs_left_title_1{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #fff;
opacity: 0.87;
}
.blogs_left_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #fff;
opacity: 0.6;
}
.blogs_left{
    background-image: url("../images/BG.png");
    width: 624px;
    padding-bottom: 40px;
}
.blogs_btn{
    width: 159px;
height: 52px;
backdrop-filter: blur(19px);
background: rgba(255, 196, 146, 0.47);
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.19em;
text-transform: uppercase;
color: #fff;
}
.blogs_left_inner{
    display: flex;
    max-width: 496px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.blogs_left_author{
    display: flex;
    align-items: center;
    gap: 6px;
}
.blogs_right_link{
    display: block;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #fff;
opacity: 0.87;
}
.blogs_right_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
opacity: 0.87;
}
.blogs_right_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
}
.blogs_right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.blogs_right_item{
    display: flex;
    gap: 32px;
}
.articles{
    margin-top: 160px;
}
.articles_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
opacity: 0.87;
margin-top: 24px;
margin-bottom: 24px;
}
.articles_link{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #fff;
}
.articles_title_1{
    font-family: var(--second-family);
font-weight: 700;
font-size: 36px;
line-height: 122%;
text-align: center;
color: #fff;
opacity: 0.87;
margin-bottom: 64px;
}
.articles_box{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}
.articles_item{
    width: 50%;
    display: flex;
    gap: 41px;
    align-items: center;
}
.author_inner{
    display: flex;
    align-items: center;
    gap: 24px;
}
.guide_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 98px;
}
.guide_title_1{
    font-family: var(--second-family);
font-weight: 700;
font-size: 48px;
line-height: 121%;
text-align: center;
color: #fff;
margin-bottom: 80px;
max-width: 1061px;
margin-top: 56px;
}
.guide_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #b8b8b8;
}
.guide_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 150%;
color: #fff;
opacity: 0.87;
}
.guide_title_2{
    font-family: var(--second-family);
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #fff;
opacity: 0.8;
}
.guide_article{
    max-width: 842px;
    margin-top: 80px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contact_img_1{
    margin-top: 83px;
    display: block;
}
.contact_box{
    display: flex;
    margin-top: 96px;
}
.contact_right{
    display: flex;
    align-items: flex-start;
    gap: 64px;
}
.contact_title{
    font-family: var(--second-family);
font-weight: 700;
font-size: 48px;
line-height: 121%;
color: #fff;
opacity: 0.87;
max-width: 658px;
margin-bottom: 24px;
}
.contact_text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #fff;
opacity: 0.6;
margin-bottom: 40px;
}
.contact_button{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #fff;
opacity: 0.87;
width: 213px;
height: 64px;
background: #27252d;
margin-top: 32px;
}
.input_name{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #fff;
border: 1px solid rgba(255, 255, 255, 0.04);
width: 296px;
height: 56px;
background: transparent;
margin-right: 32px;
}
.input_email{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #fff;
border: 1px solid rgba(255, 255, 255, 0.04);
width: 296px;
height: 56px;
background: transparent;
}
.input_message{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #fff;
display: block;
border: 1px solid rgba(255, 255, 255, 0.04);
width: 623px;
height: 147px;
background: transparent;
margin-top: 24px;
}
.burger_menu{
    display: none;
}
.model{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #ffb577;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;
}
.inner_model{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.model_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.model_form>input{
    width: 100%;
    max-width: 500px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #2e2d33;
    box-sizing: border-box;
}
.model_btn{
    width: 100%;
    max-width: 500px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #2e2d33;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}
.active_model{
    width: 100%;
    overflow: visible;
}
.no_scroll{
    overflow: hidden;
}
.model_close{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 32px;
    background: transparent;
    color: #000;
    border: none;
}